.Map {
  position: fixed;
  top: 200px;
  left: 25%;
  width: 50%;
}

.square {
    border: none;
    background: grey;
    width: 15px;
    height: 15px;
    margin: -1px;
    float: left;
}

.darkness {
  @extend .square;
  background: black;
}

.hallway {
    @extend .square;
    background: white;
}

.ground {
    @extend .square;
    background: white;
    // background-image: url('./images/dc-dngn/floor/cobble_blood3.png');
}

.player-start {
    @extend .square;
    background: lightgreen;
}

.player-pos {
    @extend .square;
    background: blue;
}

.water {
    @extend .square;
    background: lightblue;
    // background-image: url('./images/dc-dngn/water/dngn_shallow_water.png');
}

.lava {
    @extend .square;
    background: red;
    // background-image: url('./images/dc-dngn/floor/lava1.png');
}

.weapon {
    @extend .square;
    background: pink;
}

.boss {
  @extend .square;
  background: purple;
}

.mob {
    @extend .square;
    background: magenta;
    // background-image: url('./images/dc-mon/draco/draco-base-pale.png');
}

.hpitem {
    @extend .square;
    background: green
    // background-image: url('./images/item/potion/clear.png');
}

.downstairs {
    @extend .square;
    background: yellow;
}
